


.sib-landing-site-main {
  flex: 1 0 auto;
  padding-top: 73px;
  background: #fff;
  overflow: hidden;
}
@media only screen and (max-width: mdHeaderpx) {
  .sib-landing-site-main {
    padding-top: 55px;
  }
}
.sib-landing-site-main.site-main__over-visidle {
  overflow: visible;
}
.sib-landing-site-main .section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.sib-landing-site-main .container {
  position: relative;
  box-sizing: border-box;
  width: 1343px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .sib-landing-site-main .container {
    width: 100%;
    max-width: calc(100% - 60px);
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-site-main .container {
    max-width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-site-main .container--padd-r-0 {
    max-width: 100%;
    margin-left: 20px;
  }
}
.sib-landing-site-main .button__circle {
  width: 130px;
  height: 130px;
  position: absolute;
  right: -18px;
  top: 5px;
  opacity: 1;
  will-change: transform, opacity;
  transform-style: preserve-3d;
  z-index: 900;
  cursor: pointer;
}
@media only screen and (max-width: 1920px) {
  .sib-landing-site-main .button__circle {
    width: 6.7708333333vw;
    height: 6.7708333333vw;
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-site-main .button__circle {
    width: 18.4615384615vw;
    height: 17.4358974359vw;
    right: -2.5641025641vw;
    top: 3.0769230769vw;
  }
}
.sib-landing-site-main .button__circle-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  will-change: opacity;
  transform-style: preserve-3d;
}
.sib-landing-site-main .button__circle-outside {
  width: 100%;
  animation: rotateCircle 15s infinite linear;
}
@media only screen and (max-width: 1920px) {
  .sib-landing-site-main .button__circle-outside {
    width: 6.7708333333vw;
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-site-main .button__circle-outside {
    width: 18.4615384615vw;
  }
}
.sib-landing-site-main .button__circle-inside {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
@media only screen and (max-width: 1920px) {
  .sib-landing-site-main .button__circle-inside {
    width: 6.7708333333vw;
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-site-main .button__circle-inside {
    width: 18.4615384615vw;
  }
}
.sib-landing-site-main .swiper-buttons {
  position: absolute;
  display: flex;
  height: 100px;
  width: 100%;
  top: calc(50% - 28px);
  overflow: visible;
}
.sib-landing-site-main .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  min-height: 52px;
  min-width: 180px;
  background: #EF444A;
  color: #FFF !important;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 84.3%;
  transition: all 0.3s;
  cursor: pointer;
  width: fit-content;
  text-decoration: none !important;
}
.sib-landing-site-main .btn:hover {
  transition: all 0.3s;
  opacity: 0.7;
}
@keyframes rotationClose {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
}
@keyframes rotationOpen {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}
.sib-landing-site-main .title__34 {
  color: #242E40;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.3%; /* 36.482px */
  letter-spacing: 0.51px;
  text-transform: uppercase;
}
.sib-landing-site-main .title__34.text__white {
  color: #FFF;
}
.sib-landing-site-main .title__34 span {
  color: #EF444A;
}
.sib-landing-site-main .title__32 {
  color: #242E40;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 84.3%; /* 26.976px */
  letter-spacing: -0.8px;
}
.sib-landing-site-main .title__32.text__white {
  color: #FFF;
}
.sib-landing-site-main .title__32 span {
  color: #EF444A;
}
.sib-landing-site-main .title__30 {
  color: #242E40;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.3%; /* 25.29px */
  letter-spacing: 0.45px;
  text-transform: uppercase;
}
.sib-landing-site-main .title__30.text__white {
  color: #FFF;
}
.sib-landing-site-main .title__30 span {
  color: #EF444A;
}
.sib-landing-site-main .text__24 {
  color: #242E40;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.3%;
}
.sib-landing-site-main .text__24.text__white {
  color: #FFF;
}
.sib-landing-site-main .text__18 {
  color: #242E40;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 119.8%;
}
.sib-landing-site-main .text__18.text__white {
  color: #FFF;
}

.site-footer {
  flex: 0 0 auto;
}

.start-banner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.start-banner__picture {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.start-banner__picture::before {
  position: relative;
  content: "";
  width: 100%;
  padding-top: 43.15%;
}
@media only screen and (max-width: 1024px) {
  .start-banner__picture::before {
    padding-top: 75%;
  }
}
@media only screen and (max-width: 560px) {
  .start-banner__picture::before {
    padding-top: 100%;
  }
}
.start-banner__picture picture, .start-banner__picture img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.start-banner__desc {
  position: absolute;
  top: 61px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
@media only screen and (max-width: 767px) {
  .start-banner__desc {
    top: 30px;
  }
}
.start-banner__desc__title {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 700px;
  color: #FFF;
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 84.3%; /* 60.405px */
  letter-spacing: 1.075px;
  text-transform: uppercase;
  margin-bottom: 104px;
}
@media only screen and (max-width: 767px) {
  .start-banner__desc__title {
    font-size: 52px;
    line-height: 95%;
    margin-bottom: 55px;
  }
}

.heat-loss {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  .heat-loss {
    flex-flow: column nowrap;
  }
}
.heat-loss__col {
  position: relative;
  display: block;
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__col {
    width: 100%;
  }
}
.heat-loss__title {
  margin-bottom: 52px;
  max-width: 439px;
  z-index: 1;
}
.heat-loss__direction {
  position: relative;
  display: block;
  width: 768px;
  top: 0px;
  left: -384px;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__direction {
    display: none;
  }
}
.heat-loss__direction img {
  position: relative;
  width: 100%;
  display: block;
}
.heat-loss__text {
  margin-bottom: 41px;
  max-width: 380px;
  margin-bottom: 35px;
  z-index: 1;
}
.heat-loss__text--two {
  margin-top: -180px;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__text--two {
    margin-top: 0px;
  }
}
.heat-loss__text:last-child {
  margin-bottom: 0;
}
.heat-loss__row {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 33px 45px;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__row {
    width: 100%;
    padding: 30px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .heat-loss__row {
    padding: 20px 20px;
  }
}
.heat-loss__row--black {
  background: #242E40;
}
.heat-loss__row--border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-items: flex-start;
  justify-content: center;
}
.heat-loss__row--big {
  padding-top: 58px;
  padding-bottom: 58px;
}
.heat-loss__picture {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__picture::before {
    position: relative;
    content: "";
    width: 100%;
    padding-top: 75%;
  }
}
.heat-loss__picture picture, .heat-loss__picture img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .heat-loss__picture picture, .heat-loss__picture img {
    position: absolute;
  }
}
.heat-loss__balloon {
  position: absolute;
  display: block;
  right: 0;
  top: -80px;
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  .heat-loss__balloon {
    position: relative;
    transform: rotate(-90deg);
    right: auto;
    top: 50px;
    width: auto;
    height: 250px;
    margin-left: 0px;
  }
}
.heat-loss__advantages {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}
@media only screen and (max-width: 767px) {
  .heat-loss__advantages {
    flex-flow: column nowrap;
  }
}
.heat-loss__advantage {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-right: 67px;
  margin-bottom: 37px;
}
@media only screen and (max-width: 767px) {
  .heat-loss__advantage {
    margin-right: 0;
  }
}
.heat-loss__advantage:last-child {
  margin-right: 0;
}
.heat-loss__advantage__icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 26px;
}
.heat-loss__advantage__title {
  margin-bottom: 17px;
}
.heat-loss__advantage__text {
  max-width: 248px;
}
@media only screen and (max-width: 767px) {
  .heat-loss__advantage__text {
    max-width: 100%;
  }
}
.heat-loss__absence {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .heat-loss__absence {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.heat-loss__absence__icon {
  margin-right: 41px;
}
@media only screen and (max-width: 767px) {
  .heat-loss__absence__icon {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.heat-loss__absence__text {
  max-width: 434px;
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  .heat-loss__absence__text {
    max-width: 100%;
  }
}
.heat-loss .application__title {
  margin-bottom: 21px;
}
.heat-loss .application__text {
  margin-bottom: 86px;
  max-width: 452px;
}

.sib-landing-advantages {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0px 0px 67px 0px;
}
@media (max-width: 1280px) {
  .sib-landing-advantages {
    flex-flow: column nowrap;
  }
}
.sib-landing-advantages__section {
  width: 100%;
}
.sib-landing-advantages__title {
  margin-top: 43px;
  margin-bottom: 99px;
}
.sib-landing-advantages__col {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.sib-landing-advantages__col:nth-child(1) {
  width: 76.91%;
}
@media (max-width: 1280px) {
  .sib-landing-advantages__col:nth-child(1) {
    width: 100%;
    margin-bottom: 80px;
  }
}
.sib-landing-advantages__col:nth-child(2) {
  width: 23.09%;
  align-items: flex-end;
}
@media (max-width: 1280px) {
  .sib-landing-advantages__col:nth-child(2) {
    width: 100%;
    align-items: center;
  }
}

.sib-landing-advantage {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .sib-landing-advantage {
    padding-left: 160px;
    flex-flow: column nowrap;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-advantage {
    padding-left: 0px;
  }
}
.sib-landing-advantage:last-child {
  margin-bottom: 0;
}
.sib-landing-advantage__col {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1280px) {
  .sib-landing-advantage__col {
    flex-flow: column nowrap;
  }
}
@media (max-width: 1280px) {
  .sib-landing-advantage__col:first-child {
    margin-bottom: 30px;
  }
}
.sib-landing-advantage__value {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 368px;
  width: 368px;
  margin-right: 20px;
}
@media (max-width: 1280px) {
  .sib-landing-advantage__value {
    max-width: 100%;
    width: 100%;
  }
}
.sib-landing-advantage__value__title {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 119.3%;
}
.sib-landing-advantage__value__title span {
  position: relative;
  color: #242E40;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 119.3%; /* 71.58px */
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .sib-landing-advantage__value__title span {
    position: relative;
    bottom: auto;
    left: 20px;
  }
}
.sib-landing-advantage__arrow {
  margin-right: 45px;
  margin-top: 2px;
}
@media (max-width: 1280px) {
  .sib-landing-advantage__arrow {
    position: relative;
    display: none;
  }
}
.sib-landing-advantage__icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 55px;
  min-width: 108px;
  width: 108px;
}
@media (max-width: 1280px) {
  .sib-landing-advantage__icon {
    position: absolute;
    top: 0;
    left: -160px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .sib-landing-advantage__icon {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 30px;
  }
}
.sib-landing-advantage__icon img {
  display: block;
}

.all-season {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.all-season__title {
  margin-bottom: 13px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  text-align: right;
}

.sib-landing-questions {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 54px;
}
.sib-landing-questions__section {
  background: #242E40;
}
.sib-landing-questions .accordions {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.sib-landing-questions .accordion {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  display: block;
}
@media only screen and (max-width: 992px) {
  .sib-landing-questions .accordion {
    margin-bottom: 25px;
  }
}
.sib-landing-questions .accordion__intro {
  position: relative;
  cursor: pointer;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0;
  padding-top: 33px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.sib-landing-questions .accordion__intro p {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.3%;
  margin-top: 0;
  margin-bottom: 0;
}
.sib-landing-questions .accordion__intro .accordion__intro__img {
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .sib-landing-questions .accordion__intro .accordion__intro__img {
    width: 51px;
    min-width: 51px;
    height: 51px;
    min-height: 51px;
  }
}
.sib-landing-questions .accordion__intro .accordion__intro__img svg {
  animation-name: rotationClose;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
}
.sib-landing-questions .accordion__intro .accordion__intro__img:hover {
  background: #EF444A;
  color: #fff;
  transition: background 0.3s ease;
}
.sib-landing-questions .accordion__intro .accordion__intro__img:hover svg {
  fill: #fff;
}
.sib-landing-questions .accordion__intro .accordion__intro__img:hover svg path {
  fill: #fff;
}
.sib-landing-questions .accordion__content {
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
  padding-top: 0;
}
.sib-landing-questions .accordion__active .accordion__intro .accordion__intro__img svg {
  animation-name: rotationOpen;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.sib-landing-questions .accordion__active .accordion__content {
  opacity: 1;
  width: 100%;
  margin-top: 23px;
}
.sib-landing-questions .accordion__active .accordion__content p {
  padding: 0;
  margin: 0;
}


.sib-landing-documents {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.sib-landing-documents .sib-landing-document {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
  transition: all 0.3s;
  margin-bottom: 15px;
}
.sib-landing-documents .sib-landing-document svg {
  margin-right: 5px;
}
.sib-landing-documents .sib-landing-document:hover {
  transition: all 0.3s;
  text-decoration: none;
  color: #EF444A;
}

.sib-landing-text-block {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block {
    margin-bottom: 0px;
  }
}
.sib-landing-text-block h1 {
  position: relative;
  display: block;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  margin-bottom: 48px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 24px;
  }
}
.sib-landing-text-block h2 {
  position: relative;
  display: block;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 550;
  line-height: 135%;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 135%;
    margin-bottom: 24px;
  }
}
.sib-landing-text-block h3 {
  position: relative;
  display: block;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
  }
}
.sib-landing-text-block p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 16px;
}
.sib-landing-text-block p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block p {
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 12px;
  }
}
.sib-landing-text-block ul {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 25px;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block ul {
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 10px;
  }
}
.sib-landing-text-block ul li {
  position: relative;
  list-style-type: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .sib-landing-text-block ul li {
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 10px;
  }
}
.sib-landing-text-block ul li::before {
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  left: -15px;
  top: 13px;
  position: absolute;
}
.sib-landing-text-block a {
  cursor: pointer;
  color: #EF444A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
  transition: all 0.3s;
}
.sib-landing-text-block a:hover {
  transition: all 0.3s;
  text-decoration: none;
}
.sib-landing-text-block table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 50px;
  overflow: hidden;
  border-spacing: 0;
}
.sib-landing-text-block table:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 560px) {
  .sib-landing-text-block table {
    margin-bottom: 40px;
  }
}
.sib-landing-text-block table th, .sib-landing-text-block table td {
  word-wrap: break-word;
  padding: 19px 16px 19px 23px;
}
@media only screen and (max-width: 560px) {
  .sib-landing-text-block table th, .sib-landing-text-block table td {
    padding: 12px 18px;
  }
}
.sib-landing-text-block table th:first-child, .sib-landing-text-block table td:first-child {
  border-left: 1px solid #E3E3E3;
}
.sib-landing-text-block table th:last-child, .sib-landing-text-block table td:last-child {
  border-right: 1px solid #E3E3E3;
}
.sib-landing-text-block table th {
  background: #242E40;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-weight: 550;
  line-height: normal;
}
@media only screen and (max-width: 560px) {
  .sib-landing-text-block table th {
    font-size: 11px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
}
.sib-landing-text-block table th:first-child {
  border-radius: 15px 0 0 0px;
}
.sib-landing-text-block table th:last-child {
  border-radius: 0 15px 0 0px;
}
.sib-landing-text-block table th + th + th {
  border-right: none;
}
.sib-landing-text-block table td {
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  background: #fff;
  color: #454545;
}
@media only screen and (max-width: 560px) {
  .sib-landing-text-block table td {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.sib-landing-text-block table td:first-child {
  border-left: 1px solid #E3E3E3;
}
.sib-landing-text-block table td + td + td {
  border-right: none;
}
.sib-landing-text-block table tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}
.sib-landing-text-block table tr:last-child td:last-child {
  border-radius: 0 0 15px 0px;
}
.sib-landing-text-block table.tabel__two tr td {
  border-right: 1px solid #E3E3E3;
  vertical-align: top;
}
.sib-landing-text-block table.tabel__two tr th:first-child {
  width: 250px;
}
.sib-landing-text-block table.tabel__two th {
  background: #242E40;
  vertical-align: top;
}
.sib-landing-text-block table.tabel__two th:last-child {
  border-right: 1px solid #E3E3E3;
}
.sib-landing-text-block table.tabel__two th + th {
  background: #fff;
  color: #454545;
}
.sib-landing-text-block table.tabel__two td {
  background: #242E40;
}
.sib-landing-text-block table.tabel__two td + td {
  background: #fff;
  color: #454545;
}
.sib-landing-text-block__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 440px;
  background: #242E40;
  border-radius: 15px;
  margin-bottom: 50px;
}
.sib-landing-text-block__picture:before {
  content: "";
  display: block;
  padding-top: 100%;
  position: relative;
}
.sib-landing-text-block__picture img, .sib-landing-text-block__picture picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center center;
}


/*# sourceMappingURL=maps/main.css.map */


html{scroll-behavior: smooth;}

.main, .sib-landing-site-main, .cms-page-view .std { padding: 0px; }

.start-banner__desc__title{line-height:100%;}

.btn{ border-radius:0 !important; }

.sib-landing-advantage__value__title{font-weight:bold !important;}

.heat-loss__row{ width:auto; }

.title__34.text__white, .text__24.text__white{ z-index:1; }

.title__30{font-size:25px !important;}

.heat-loss__picture img{position:absolute}

.sib-landing-documents .sib-landing-document svg{flex-shrink:0;}

@media only screen and (max-width: 1280px){
.sib-landing-advantage, .sib-landing-advantages, .sib-landing-advantages__col{display:block; width:auto;}
.all-season__title{text-align:left;}
}

@media only screen and (max-width: 767px){
.heat-loss__row{overflow:hidden}
}

@media only screen and (max-width: 360px){
.start-banner__desc__title{font-size:46px;}
.title__30{line-height:107% !important;}
}
