.text-block 
   
  p
    !='Профессиональный всесезонный однокомпонентный полиуретановый клей в аэрозольной упаковке. Разработан специально для возведения зданий и сооружений из SIP, обеспечивает максимально высокую конструкционную жесткость, а также герметичность соединений. Имеет высокую прочность сцепления с OSB, ЦСП, деревом, ПСБС, каменной ватой, PIR и ППУ. Обладает устойчивостью к влаге, плесени и старению.'
  br
  br
  p 
    !='Цвет – бирюзовый.'
  br
  br
  h2 ОСОБЕННОСТИ И ПРЕИМУЩЕСТВА
  br
  ul 
    li высокая конструкционная жесткость конструкции;
    li стойкость к образованию плесени и грибка;
    li оптимальное вторичное расширение;
    li высокая прочность сцепления;
    li температура применения от минус 10 °С до плюс 35 °С.
  br
  h2 ПРОИЗВОДСТВО РАБОТ СОГЛАСНО
  br
  ul 
    li Инструкции, приведенной на баллоне.
  br
  h2 ТРАНСПОРТИРОВКА
  br
  p 
    !='Баллоны с клей-пеной транспортируют всеми видами транспорта в соответствии с правилами перевозки грузов, действующими на данном виде транспорта.'
  br
  p 
    !='На железнодорожном транспорте транспортирование баллонов с клей-пеной проводят в крытых вагонах, повагонными или мелкими отправками или в универсальных контейнерах.'
  br
  p 
    !='Транспортирование баллонов с клей-пеной, предназначенных для отправки в районы Крайнего Севера и труднодоступные районы, следует проводить по ГОСТ 15846-2002.'
  br
  p 
    !='При осуществлении погрузки и выгрузки и при транспортировании баллонов с клей-пеной должны быть приняты меры, предохраняющие их от механических повреждений, загрязнений и воздействий атмосферных осадков и прямых солнечных лучей.'
  br
  p 
    !='Баллоны с продукцией в процессе транспортировки должны находиться строго в вертикальном положении – защитным колпаком вверх!'
  br
  p 
    !='Температурный режим транспортировки от минус 10 °С до плюс 40 °С. Допускается кратковременно (не более 28 суток) транспортировать при более низкой температуре до минус 30°С. Количество циклов «заморозки/разморозки» до конечной реализации продукции не должно превышать четырех раз.'
  br
  br
  h2 ХРАНЕНИЕ
  br
  p 
    !="Коробки с баллонами клей-пены должны храниться в сухом крытом помещении, с соблюдением требований пожарной безопасности, установленных для хранения горючих материалов, на расстоянии не менее 1 м от нагревательных приборов."
  br
  p 
    !="Положение баллонов при хранении строго вертикально – защитным колпаком вверх!"
  br
  p 
    !="Температурный режим хранения от плюс 5 °С до плюс 25 °С. Допускается кратковременное (на срок не более 7 суток) снижение температуры до минус 20 °С."
  br
  p 
    !="Предохранять баллоны с клей-пеной при хранении от воздействия прямых солнечных лучей и нагревания выше плюс 50 ºС."
  br
  p 
    !="Схема хранения поддонов в два яруса не допускается!"
  br
  p 
    !="Высота штабеля при хранении в картонных коробках (гофрокоробах) не должна превышать 2 м."
  br
  p 
    !="Хранение коробок из распакованных поддонов по количеству рядов по высоте допустимо до 5 рядов (при наличии гофролиста Т-23 после второго ряда для 4 ярусов и после третьего для 5 ярусов)."
  br
  p 
    !="Предприятие-изготовитель гарантирует соответствие материала требованиям СТО при соблюдении потребителем условий транспортирования и хранения, а также указаний по применению. Гарантийный срок хранения материала – 18 месяцев с даты изготовления."
  br
  br
  h2 КОДЫ ПО КЛАССИФИКАТОРАМ
  br
  p 
    !='ОКПД2: 20.52.10.120'
  p 
    !='КСР: 20.52.10.120.59.1.14.01-0025-000'
  p 
    !='ТН ВЭД: 3214 10 100 1'
  br
  br
  